/*
* Ignore all files
* except those that are explicitly included.
*/
/*

!src/**/*
!public/**/*
!.gitignore
!.npmignore
!CHANGES.md
!.eslint.config.js
!index.html
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.production.json
!tsconfig.app.json


