/*
* Ignore all files
* except those that are explicitly included.
*/
/*

!src/
!src/**
!.gitignore
!.npmignore
!CHANGES.md
!README.md
!eslint.config.js
!index.html
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.production.json
!tsconfig.app.json
!tsconfig.tsbuildinfo
!tests/


